<div class="mt-5">
    <div class="d-flex justify-content-between">
        <h3>Thùng rác</h3>
        <div>
            <a href="/me/stored/courses" class="btn btn-link">Trở lại</a>
        </div>
    </div>
    <table class="table mt-5">
        <thead>
            {{#if courses}}
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
            {{/if}}

        </thead>
        <tbody>

            {{#each courses}}
            <tr>
                <th scope="row">{{ sum @index 1 }}</th>
                <td>{{ this.name }}</td>
                <td>{{ this.level }}</td>
                <td>{{ formatDate this.createdAt }}</td>
                <td>
                    <a href="" class="btn btn-link restore-btn" data-id={{this._id}}><i
                            class="fas fa-trash-restore text-success"></i></a>
                    <a href="" class="btn btn-link" data-id={{this._id}} data-toggle="modal"
                        data-target="#delete-course-model"><i class="fas fa-trash-alt text-danger"></i></a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    <p>Thùng rác trống. <a href="/me/stored/courses" class="btn btn-link">Trở lại</a></p>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- confirm delete course model --}}

<div class="modal" tabindex="-1" role="dialog" id="delete-course-model">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa vĩnh viễn khóa học ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-danger">
                <p>Bạn chắc chắn muốn xóa khóa học này ?</p>
                <p>Hành động này không thể khôi phục!</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa Bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- form xử lý chức năng xóa vĩnh viễn và khôi phục  --}}
<form method="POST" name="delete-course-form"></form>
<form method="POST" name="restore-course-form"></form>

{{!-- javascript xủa lý --}}
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var restoreBtn = $('.restore-btn');

        $('#delete-course-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });

        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        restoreBtn.click(function (e) {
            e.preventDefault();
            courseId = $(this).data('id');
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        });
    });




</script>